.promoCode{
    .side-header-2 {
        background: #012348;
        padding: 1rem;
        gap: 1rem;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .applyCode{
        background: #0123480D;
        padding:10px;
        border-radius: 8px;
        margin: 20px;
        .applycodedetail{
            padding-bottom: 10px;
            border-bottom: 1px dashed #70707059;

            h6{
                color: #202020;
                text-transform: capitalize;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 0px;
            }
            span{
                color: #ABABAB;
                text-transform: capitalize;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0px;
            }
            .btnApply{
                background: #012348;
                box-shadow: inset 0px 0px 6px #00000029;
                border-radius: 7px;
                color: #FFFFFF;
                text-transform: capitalize;
            }
        }
        p{
            padding-top: 10px;
            color: #4A4A4A;
            text-transform: capitalize;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0px;
        }
    }
}