<div mat-dialog-title>
    
    <div class="dialog-back" mat-dialog-close>
        <i class="bi bi-x-lg"></i>
    </div>
    
    <div class="dialog-logo-img text-center">
        <img src="assets/image/pop_up_logo.png" alt="logo" class="img-fluid">
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="userMobileExit">
    <div class="auth-form-wrapper">
        <div class="auth-head ">
            <h4>Create Buyer Account</h4>
        </div>

        <div class="custom-auth-input mb-5">
            <label>Mobile Number</label>
            <!-- <div class="all-country">
                <input type="text" class="form-control w-100 textField"  minlength="7" maxlength="15" placeholder="Enter Buyer Mobile Number" formControlName="phoneNumber" ng2TelInput
                [ng2TelInputOptions]="{initialCountry: 'us', showFlags:true,separateDialCode: true,autoPlaceholder:'off' }"
                (intlTelInputObject)="telInputObject($event)"  onkeypress="return event.charCode > 47 && event.charCode < 58;" />
            </div> -->

           
            <mat-form-field class="w-100" appearance="outline">
                <span matPrefix class="input-group-text">+966 <i class="bi bi-caret-down-fill"></i> </span>

                <input type="text" matInput class="w-100 textField"  minlength="7" maxlength="15" placeholder="Enter Buyer Mobile Number" formControlName="phoneNumber" 
                (intlTelInputObject)="telInputObject($event)"   onkeypress="return event.charCode > 47 && event.charCode < 58;"/>
            </mat-form-field>
                
            
            <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">
                <div *ngIf="f['phoneNumber'].errors['required']">
                    Mobile Number is Required 
                </div>
              
              </div>
        </div>

        <div class="action-btn">
            <button mat-flat-button color="primary" class="w-100" (click)="UserMobileExit()" >Submit</button>
        </div>
    </div>


</form>
</mat-dialog-content>

