.banner-offer{
    position: relative;
    min-height:450px;
    min-width: 676px;
}
.close-btn{
    position:absolute;
    right: 0px;
    cursor: pointer;
}
.show-offer img {
    height: 450px;
}