


<footer>
    <div class="text-center">
        <div class="backtop">
            <h5>Back to Top <i class="bi bi-arrow-up"></i></h5>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-content">
                    <img src="assets/image/pop_up_logo.png" alt="logo" class="img-fluid mb-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut unde impedit veniam? Adipisci necessitatibus quaerat ut delectus magni veritatis, quia nisi at optio? Laborum dolor quod distinctio quia impedit!<span>Know More Us</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="get-title">Get to Know Us</div>
                <ul class="foot-link">
                    <li>About Us</li>
                    <li>Legal</li>
                    <li>Terms & Condition</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="get-title">Let us Help You</div>
                <ul class="foot-link">
                    <li>Help</li>
                    <li>Faq's</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
        <div class="palystore">
            <a href="#">
                <img src="assets/image/app-store.png" alt="palystore" class="img-fluid">
            </a>
            <a href="#">
                <img src="assets/image/play-store.png" alt="palystore" class="img-fluid">
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div style="font-weight: 200;">Copyright © Oman Ltd. 2024. All rights reserved.</div>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline mb-0 social-icon">
                        <li>Follow us on</li>
                        <li>
                            <a href="#">
                                <img src="assets/image/allicon/facebook.png" alt="facebook" class="img-fluid">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/image/allicon/instagram.png" alt="facebook" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</footer>
