<div class="product-details-main">
  <div class="container-fluid">
    <div class="product-header">
      <div class="d-flex gap-2 align-items-center">
        <img src="assets/image/back_black.png" class="bck-btn"
          routerLink="/salepanel/dashboard/customer-list/place-order">
        <h3 class="aiwa-title">Weekly Promotion</h3>
      </div>
      <!-- <button class="cmn-button-2">
          <img src="assets/image/allicon/filter.png" class="img-fluid" />
        </button> -->
    </div>
    <div class="category-panel">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="sfsdfsd">
          <div class="subcategory-pnl">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
              <mat-tab label="sdfsdf">
                <section class="product-suggestion pb-4 position-relative mt-3">
                  <div class="suggestions-lists">
                    <div class="no-products-message">
                      No Products Found
                    </div>
                    <div class="thumb-g">
                      <div class="grid-box">
                        <div class="product-card">
                          <div class="product-img" routerLink="/home/user-prod-details">
                            <div class="sale-bg" style="background: url('assets/image/allicon/offer-shap.svg');">
                              2 For Sar 35
                            </div>
                            <figure>
                              <img src="assets/image/mixer.png" alt="image" class="img-fluid">
                            </figure>
                            <div class="like-btn">
                              <div class="unit-grid">Unit Left</div>
                            </div>
                            <div class="favlike">
                              <img src="assets/image/allicon/un_fav.png" alt="img">
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="title-product">
                              <h4></h4>
                              <div class="p-sar"> SAR</div>
                            </div>
                            <div class="p-rating">
                              <div class="p-title"></div>
                            </div>
                            <div class="prd-pnl">
                              <div>
                                <div class="p-title">Units</div>
                              </div>
                              <div>
                                <button class="btn btn-outline-dark">Add</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>