<div class="product-details-main">
    <div class="container-fluid customContainer">
        <div class="mb-2 pb-2 pt-1 padding-20 d-flex gap-2 align-items-center">
            <img *ngIf="detailstype=='prductdetails'" src="assets/image/back_black.png" alt="" class="bck-btn" (click)="goToBack()">
            <img *ngIf="detailstype=='suggestions'" src="assets/image/back_black.png" alt="" class="bck-btn" (click)="goToBack2()">
            <img *ngIf="detailstype=='Cart'" src="assets/image/back_black.png" alt="" class="bck-btn" (click)="goToBack3()">
            <!-- <img src="assets/image/back_black.png" alt="" class="bck-btn" routerLink="/home/product-lists"> -->
            <h3 class="aiwa-title">Product Details</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-12">
                <div class="product-details">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="sale-bg">Get 30% On Bulk Purchase</div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img [src]="selectedProductImage" alt="image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <div *ngFor="let img of productImg; let i = index;">
                            <button height="150px" width="250px" [ngClass]="{ 'active': selectedProductImage===img }"
                                *ngIf="i<5" (click)="selectProductImage(img)">
                                <img [src]="img" alt="image" class="img-fluid">
                            </button>
                        </div>
                        <!-- <button height="150px" width="250px">
                            <img [src]="productImg[1]" alt="image" class="img-fluid">
                        </button>
                        <button height="150px" width="250px">
                            <img [src]="productImg[2]" alt="image" class="img-fluid">
                        </button>
                        <button height="150px" width="250px">
                            <img [src]="productImg[3]" alt="image" class="img-fluid">
                        </button>
                        <button height="150px" width="250px">
                            <img [src]="productImg[4]" alt="image" class="img-fluid">
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12">
                <div class="about-product">
                    <div class="product">
                        <div class="prudct-name">
                            <h3>{{productDetailsData?.nameEn}}</h3>
                            <ul class="list-unstyled d-inline-flex productName">
                                <li>{{productDetailsData?.channelCatSubCat[0].categoryId?.nameEn}}</li>
                                <li>{{productDetailsData?.brand?.nameEn}}</li>
                            </ul>
                            <ul class="mb-0 list-inline star">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                        <div class="product-price">
                            <h3>{{(sellingPrice) - (sellingPrice/100) *
                                discountPrice}} SAR</h3>
                            <p>{{discountPrice}}% Off<span> {{sellingPrice}}
                                    SAR</span>
                            </p>
                            <div class="d-flex justify-content-end mt-2">
                                <span class="unit-save">Save {{(sellingPrice/100) *
                                    discountPrice}} SAR</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-9">
                            <span class="unit-detail"  *ngIf="productDetailsData?.SkuLimit >= productDetailsData?.availableQuantity">
                                {{
                                productDetailsData?.availableQuantity ?
                                productDetailsData?.availableQuantity + ' Unit Left'
                                : 'Out of Stock'
                                }}
                            </span>
                            <p>{{productDetailsData?.descriptionEn}}</p>
                            <ins class="discount"><img src="assets/image/white_discount.png" class="img-fluid" />
                                Bulk Discount</ins>
                            <p class="addQuantity">Add more quantity to get higher discount</p>
                            <ul class="units mobileUnits list-unstyled list-inline">
                                <li>
                                    <p>SAR 5000</p>
                                    <span>3 + units</span>
                                </li>
                                <li>
                                    <p>SAR 5000</p>
                                    <span>3 + units</span>
                                </li>
                                <li>
                                    <p>SAR 5000</p>
                                    <span>3 + units</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="productmanage">
                        <div class="incProductQuantity">
                            <div class="addcart-p d-flex align-items-center"
                                *ngIf="productDetailsData?.availableQuantity>0">
                                <button class="btn-1 btn" [disabled]="disableDecrementButton" (click)="decrement()"><img
                                        src="assets/image/allicon/remove.png" alt="add"></button>
                                <div class="item-count">{{ productQuantity }}</div>
                                <button class="btn-1 btn" [disabled]="disableIncrementButton" (click)="increment()"><img
                                        src="assets/image/allicon/add.png" alt="add"></button>
                            </div>
                        </div>

                        <div class="addtoCart">
                            <button class="cmn-button" (click)="addCart()" 
                            [ngClass]="{
                                'customDisabled':productDetailsData?.availableQuantity < 1
                            }" 
                            [disabled]="productDetailsData?.availableQuantity<1">
                                <!-- <button class="cmn-button" > -->
                                <img src="assets/image/add_to_cart.png" class="img-fluid" /> Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-shap"></div>
    </div>
</div>